.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

* {
    font-family: "Montserrat";
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFFFFF;
}

#red-bg {
	color: rgb(183, 28, 28);
}

#red-bg:hover {
	color: white;
	background-color: rgb(183, 28, 28);
}

#speaker-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.text-cen {
    text-align: center;
}

form {
    z-index: -100000;
}

#map {
    padding: 1%;
    padding-bottom: 2%;
}

h1 {
    text-align: center;
}

#contact-card {
    padding-bottom: 2%;
}

#card-button {
    margin-top: 4%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}