.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

* {
    font-family: "Open Sans";
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFFFFF;
}

.round {
    width: 150px;
    height: 150px;
}

.nb {
    background-color: #FFD600;
    position: absolute;
}

#speaker-img {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#sign-up {
    color: black;
    text-decoration: underline;
}

#sign-up:hover {
    background: black;
    color: white !important;
}

#title:hover {
    border-bottom: 2px solid white;
}

.school-name:hover {
  border-bottom: 1px white solid;
}

.navbar-links {
    font-size: 50em !important;
}

.pin-top {
    position: relative;
}

.pinned {
    position: fixed !important;
}

.speaker-box {
    z-index: 666666 !important;
}

.typey-text {
padding-top: 30%;
}

@media only screen and (max-width: 600px) {
	.typey-text {
		font-size: 2em;
		text-align: center;
	}
}

@media only screen and (min-width: 601px) {
	.typey-text {
		font-size: 5em;
	}
}