.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

* {
    font-family: "Open Sans";
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFFFFF;
}

.nb {
    background-color: #FFD600;
    position: absolute;
}

.school-name:hover {
  border-bottom: 1px white solid;
}

.navbar-links {
    font-size: 50em !important;
}

#speaker-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bg {
    background-image: url(http://www.shriteq.org/2016/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}